.LoadingBackGround720p {
  -fx-background-image: url('../graphics/MenuTitleScreen.png');
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 1280 720;
}
.LoadingBackGround1080p {
  -fx-background-image: url('../graphics/MenuTitleScreen.png');
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 1920 1080;
}

.MainMenuBackground720p {
  -fx-background-image: url('../graphics/MenuTitleScreen.png');
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 1280 720;
}
.MainMenuBackground1080p {
  -fx-background-image: url('../graphics/MenuTitleScreen.png');
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 1920 1080;
}
.MainMenuBackground_UNBRIGHT720p {
  -fx-background-image: url('../graphics/MenuTitleScreen_UNBRIGHT.png');
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 1280 720;
}
.MainMenuBackground_UNBRIGHT1080p {
  -fx-background-image: url('../graphics/MenuTitleScreen_UNBRIGHT.png');
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 1920 1080;
}

.menuButton {
  -fx-background-color: linear-gradient(#3db1ff,#2980b9);
  -fx-background-radius: 3,2,1;
  -fx-padding: 3 30 3 30;
  -fx-text-fill: black;
  -fx-border-style: solid;
  -fx-border-color: #1f628d;
  -fx-border-width: 5px;
  -fx-border-radius: 0;
  -fx-focus-color: transparent;
}
.menuButton:hover {
  -fx-background-color: rgba(0,0,0,0.3);
  -fx-translate-y: 1px;
}
.menuButton:pressed {
  -fx-translate-y: 2px;
}